---
---

// Import Chirpy's default style
@import "main";  

// Customising colours: 


@media (prefers-color-scheme: light) {
  html:not([data-mode]), html[data-mode=light] {
    --sidebar-bg: #e0d2ed !important;
  }
}

@media (prefers-color-scheme: dark) {
  html[data-mode=dark] {
    --sidebar-bg: #e0d2ed !important;
  }
}