---
---

// Import Chirpy's default style
@import "main";  

// Customising colours: 

:root {
  --sidebar-bg: #e0d2ed;        // For light mode
  --sidebar-text: #000000;      // Optional
}

@media (prefers-color-scheme: dark) {
  :root {
    --sidebar-bg: #e0d2ed;      // For dark mode
    --sidebar-text: #000000;    // Optional
  }
}