---
---

@import "main";  // Import Chirpy's default style

// Customising colours: 

$primary-color: #a855f7;      // Accent color 
$body-bg-color: #f0f0f0;      // Page background color
$text-color: #222222;         // Main text color

